/* head */
.head{
    width: 70vw;
    height: 50px;
    display: flex;
    border-bottom: 2px white solid;
}
.head-1{
    flex: 1;
    padding: 2px 5px 2px 20px;
    display: flex;
    align-items: center;
}
.head-1 .logo{
    width: 70px;
    height: 30px;
}
.head-1 .head-tag{
    margin: 0 15px;
    align-items: center;
    cursor: pointer;
    padding: 2px 5px;
}
.head-1 .head-tag h5:hover{
    background-color: #4c497e;
    padding: 2px 5px;
    color: white;
}
.head-2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-3{
    flex: 1;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.head-3 h5{
    cursor: pointer;
}
.head-3 h5:hover{
    color: red;
}
.view-elements{
    position: absolute;
    top: 30px;
    box-sizing: border-box;
    border: 0.5px solid white;
    padding: 20px;
    word-wrap: break-word;
    background-color: #2d3748;
    width: 150px;
    border-radius: 5px;
    z-index: 999;
}
.view-elements li{
    padding: 3px 0;
    cursor: pointer;
    text-align: left;
    width: 100%;
    margin-left: -19px;
    padding: 7px 17px 7px 21px;
    font-size: 11px;
    font-weight: 400;
    list-style: none;
    align-items: center;
    justify-content: center;
}
button{
    cursor: pointer;
}
.tapclick{
    height: 93vh;
    width: 40vw;
    background-color: burlywood;
    padding: 5px;
}

.node{
    background-color: white;
}
.tapclick h3{
    text-align: center;
}
.tapclick-value{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.tapclick-value input,textarea{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.tapclick-value input:focus,textarea:focus{
    border: 2px solid teal;
}
.tapclick-button{
    display: flex;
    justify-content: center;
}
.tapclick-button button{
    padding: 5px 20px;
    background-color: teal;
    border: none;
    border-radius: 5px;
    color: white;
}

.tapclick-close{
    display: flex;
    justify-content: center;
}
.tapclick-close button{
    margin-top: 10px;
    padding: 5px 25px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}
.react-flow__nodesselection-rect,
.react-flow__selection {
  background: rgba(0, 89, 220, 0.5);
  border: 1px dotted blue;
}

.react-flow__nodesselection {
    z-index: 3;
    transform-origin: left top;
    pointer-events: none;
    background-color: blue;
  
    /* &-rect {
      position: absolute;
      pointer-events: all;
      cursor: grab;
    } */
}